<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary">Free Register</h5>
                  <p>Get your free Skote account now.</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a routerLink="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                  </span>
                </div>
              </a>
            </div>
            <div class="p-2">

              <form class="needs-validation" name="signupForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()"
                novalidate>

                <ngb-alert type="success" *ngIf="successmsg" [dismissible]="false">Registeration successfull.
                </ngb-alert>

                <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>






                <div class="mb-3">
                  <!-- <label for="firstname" class="form-label">First Name</label> -->

                  <input type="text" formControlName="firstname" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" id="firstname"
                    placeholder="Enter Firstname" />

                  <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                    <div *ngIf="f.firstname.errors.required">First Name is required</div>
                  </div>
                </div>


                <div class="mb-3">
                  <!-- <label for="lastname" class="form-label">Last Name</label> -->

                  <input type="text" formControlName="lastname" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" id="lastname"
                    placeholder="Enter Last Name" />

                  <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                    <div *ngIf="f.lastname.errors.required">Last Name is required</div>
                  </div>
                </div>


                <div class="mb-3">
                  <!-- <label for="department" class="form-label">Department</label> -->

                  <input type="text" formControlName="department" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.department.errors }" id="department"
                    placeholder="Enter Department" />

                  <div *ngIf="submitted && f.department.errors" class="invalid-feedback">
                    <div *ngIf="f.department.errors.required">Department is required</div>
                  </div>
                </div>


                <div class="mb-3">
                  <!-- <label for="responsable_name" class="form-label">Responsable Name</label> -->

                  <input type="text" formControlName="responsable_name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.responsable_name.errors }" id="responsable_name"
                    placeholder="Enter Responsable Name" />

                  <div *ngIf="submitted && f.responsable_name.errors" class="invalid-feedback">
                    <div *ngIf="f.responsable_name.errors.required">Responsable Name is required</div>
                  </div>
                </div>


                <div class="mb-3">
                  <!-- <label for="phone" class="form-label">Phone</label> -->

                  <input type="text" formControlName="phone" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" id="phone"
                    placeholder="Enter Phone" />

                  <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                    <div *ngIf="f.phone.errors.required">Phone is required</div>
                  </div>
                </div>




                <div class="mb-3">
                  <!-- <label for="post" class="form-label">Post</label> -->

                  <input type="text" formControlName="post" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.post.errors }" id="post"
                    placeholder="Enter Post" />

                  <div *ngIf="submitted && f.post.errors" class="invalid-feedback">
                    <div *ngIf="f.post.errors.required">Post is required</div>
                  </div>
                </div>



                <div class="mb-3">
                  <!-- <label for="email" class="form-label">Email</label> -->

                  <input type="email" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Email" />

                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>

                <div class="mb-3">
                  <!-- <label for="password" class="form-label">Password</label> -->

                  <input type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password" placeholder="Password" />

                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>
                </div>

                <div class="mt-4 d-grid">
                  <button class="btn btn-primary" type="submit">Register</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- end card -->

        <div class="mt-5 text-center">
          <p>Already have an account ? <a routerLink="/account/login" class="fw-medium text-primary"> Login</a>
          </p>
          <p>© {{year}} Skote. Crafted with <i class="mdi mdi-heart text-danger"></i> by ArabSoft</p>
        </div>
      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>



